# Object files
*.o
*.obj
*.elf

# Linker output
*.ilk
*.exp

# Patch and wiggle related residdue
*.rej
*.porig

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# datadump
/tools/ddump/*

# Text editor remnants
*.swp
.vscode/*
.idea/*

# General project-specific ignores
doxygen/doxygen/*
build/*
*.dump
*.mio0
*.z64
*.map
*.sav
.assets-local.txt
sm64_save_file.bin
sm64config.txt
